textarea {
    width: 90%;
    height: 40vw;
    border: none;
    border-radius: var(--borderRadius);
    padding: 0.5vw;
    margin: 0.5vw;
    color: var(--primaryTextColor);
    box-shadow: var(--mediumShadow);
}

#submit_button {
    margin: 0.5vw;
    background-color: #59cb5d;
    color: white;
    box-shadow: var(--mediumShadow);
}

#warning_window {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    horiz-align: center;
    top: 40vh;
    left: 30vw;
    max-width: 500px;
    background-color: var(--defaultPrimaryColor);
}
