.bank_card_div {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.bank_card_form_div {
    width: 50vw;
    background-color: #4CAF50;
    border-radius: var(--borderRadius);
    padding: 2vw;
}

.bank_card_form {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bank_card_form label, .bank_card_form h2 {
    text-align: center;
    position: relative;
    color: white;
}

.bank_card_form input {
    border: none;
    border-radius: var(--borderRadius);
    padding: 0.5vw;
    margin: 0.5vw;
    color: var(--primaryTextColor);
    box-shadow: var(--mediumShadow);
}

#submit_button {
    margin: 0.5vw;
    background-color: #59cb5d;
    color: white;
    box-shadow: var(--mediumShadow);
}

#submit_button:hover {
    padding: 1vw;
}

#card_number_div {
    display: flex;
}

#valid_month_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#valid_year_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cvv_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sum_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sum {
    width: 20vw;
}

#card_number {
    width: 20vw;
}

#cvv {
    width: 5vw;
}

#valid_month {
    width: 5vw;
}
#valid_year {
    width: 5vw;
}

@media (max-width: 768px) {
    .flex_row {
        flex-direction: column;
        align-items: center;
    }
    #card_number_div, #sum_div {
        flex-direction: column;
    }

}




