:root {
    --panelColor: #3f51b5;
    --borderRadius: 1vw;
    --darkPrimaryColor: #303F9F;
    --lightPrimaryColor: #BDBDBD;
    --linkHowerColor: #448AFF;
    --quickAnimationTime: 0.5s;
}

#wrapper {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

p, a, span {
    text-align: justify;
}

a:hover {
    color: var(--linkHowerColor);
}

@media (min-width: 2000px) {
    header {
        font-size: 48px;
    }
    footer {
        font-size: 36px;
    }
    p, a, span {
        font-size: 24px;
    }
}

@media (min-width: 1200px) and (max-width: 2000px) {
    header {
        font-size: 32px;
    }
    footer {
        font-size: 24px;
    }
    p, a, span {
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    header {
        font-size: 28px;
    }
    footer {
        font-size: 20px;
    }
    p, a, span {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    header {
        font-size: 2vh;
    }
    footer {
        font-size: 1vh;
    }
    p, a, span {
        font-size: 1vh;
    }
}

header, footer {
    background-color: var(--darkPrimaryColor);
    border-radius: var(--borderRadius);
    color: var(--lightPrimaryColor);
    width: 99%;
    padding: 1vw;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

main {
    box-sizing: border-box;
    min-height: 90vh;
}

button {
    padding: 1vw;
    border-style: none;
    border-radius: var(--borderRadius);
    background-color: var(--buttonColor);
    transition: ease-in-out var(--quickAnimationTime);
}

button:hover {
    padding: 1.2vw;
}

button a {
    color: var(--darkPrimaryColor);
    transition: var(--quickAnimationTime);
}

button a:hover {
    color: white;
    transition: var(--quickAnimationTime);
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_row * {
    margin: 1vw;
}

.link_icons_list {
    display: flex;
    justify-content: space-around;
}

.link_icon {
    width: 3vw;
    height: auto;
    border-radius: var(--borderRadius);
    padding: 0.5vw;
}

.footer_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_flex span {
    padding: 0.5vw;
}
