:root {
    --panelColor: #3f51b5;
    --borderRadius: 1vw;
    --darkPrimaryColor: #303F9F;
    --defaultPrimaryColor: #3F51B5;
    --lightPrimaryColor: #BDBDBD;
    --linkHowerColor: #448AFF;
    --quickAnimationTime: 0.5s;
    --mediumShadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.2);
}

#wrapper {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

p, a, b, span {
    text-align: justify;
}

a:hover {
    color: var(--linkHowerColor);
}

@media (min-width: 2000px) {
    p, a, b, span, figcaption, blockquote, label, input, button {
        font-size: 24px;
    }
    header *, h1 {
        font-size: 48px;
    }
    footer *, h2 {
        font-size: 36px;
    }
}

@media (min-width: 1200px) and (max-width: 2000px) {
    p, a, b, span, figcaption, blockquote, label, input, button {
        font-size: 18px;
    }
    header *, h1 {
        font-size: 32px;
    }
    footer *, h2 {
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    p, a, b, span, figcaption, blockquote, label, input, button {
        font-size: 16px;
    }
    header *, h1 {
        font-size: 28px;
    }
    footer *, h2 {
        font-size: 20px;
    }
}

@media (min-width: 400px) and (max-width: 768px) {
    p, a, b, span, figcaption, blockquote, label, input, button {
        font-size: 14px;
    }
    footer {
        flex-direction: column;
    }
    header *, h1 {
        font-size: 24px;
    }
    footer *, h2 {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    footer *, h2 {
        font-size: 16px;
    }
    footer {
        flex-direction: column;
    }
    p, b, a, span, figcaption, blockquote, label, input, button {
        font-size: 12px;
    }
    header *, h1 {
        font-size: 20px;
    }
}

header, footer {
    background-color: var(--darkPrimaryColor);
    border-radius: var(--borderRadius);
    color: var(--lightPrimaryColor);
    width: 99%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}

header a {
    padding: 0.5vw;
    border-radius: var(--borderRadius);
    background-color: var(--defaultPrimaryColor);
    text-decoration: none;
}

main {
    box-sizing: border-box;
    min-height: 80vh;
}

button {
    padding: 1vw;
    border-style: none;
    border-radius: var(--borderRadius);
    background-color: var(--buttonColor);
    transition: ease-in-out var(--quickAnimationTime);
}

button:hover {
    padding: 1.2vw;
}

button a {
    color: var(--darkPrimaryColor);
    transition: var(--quickAnimationTime);
}

button a:hover {
    color: white;
    transition: var(--quickAnimationTime);
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_row * {
    margin: 1vw;
}

.link_icons_list {
    display: flex;
    justify-content: space-around;
}

.link_icon {
    width: 3vw;
    min-width: 36px;
    height: auto;
    border-radius: var(--borderRadius);
    margin: 0.5vw;
}

.footer_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5vw 0.5vw 0;
}

.footer_flex span {
    padding: 0.5vw;
    text-align: center;
}

footer span {
    text-align: center;
}

.pages_list_header {
    margin-top: -1vw;
    margin-left: -1vw;
    margin-right: -1vw;
    background-color: var(--thirdPanelColor);
    padding: 0.5vw 0.5vw 0.5vw 1vw;
    border-radius: var(--borderRadius);
}

.pages_list {
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
}

.pages_list * {
    margin: 0.5vw;
}
