:root {
    --backgroundColor: #ffe0b2;
    --textColor: #BDBDBD;
    --panelColor: #3f51b5;
    --secondPanelColor: #37474f;
    --thirdPanelColor: #546e7a;
    --borderRadius: 1vw;
}

* {
    color: var(--textColor);
}

html {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../res/background1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.panel {
    background-color: var(--secondPanelColor);
    border-radius: var(--borderRadius);
    padding: 1vw;
    margin: 1vw;
    opacity: 80%;
    transition: 1s;
}

div.choose:hover {
    background-color: var(--thirdPanelColor);
    transition: 1s;
}
