@media (min-width: 1200px) {
    .content, .content *, .content_list * {
        font-size: 24px;
    }
    .label, .labels_list * {
        font-size: 36px;
    }
}
@media (max-width: 1200px) {
    .flex_row {
        flex-direction: column;
    }
    .content, .content *, .content_list * {
        font-size: 4vw;
    }
    .label, .labels_list * {
        font-size: 6vw;
    }
}
@media (max-width: 768px)  {
    .flex_row {
        flex-direction: column;
    }
    .content, .content_list * {
        font-size: 5vw;
    }
    .label, .labels_list * {
        font-size: 7.5vw;
    }
}
@media (orientation: portrait) {
    .flex_row {
        flex-direction: column;
    }
    .content, .content_list * {
        font-size: 5vw;
    }
    .label, .labels_list * {
        font-size: 7.5vw;
    }
}