@media (min-width: 1200px) {
    .content, .content *, .content_list * {
        font-size: 2rem;
    }
    .label, .labels_list * {
        font-size: 4rem;
    }
}
@media (max-width: 1200px) {
    .flex_row {
        flex-direction: column;
    }
    .content, .content *, .content_list * {
        font-size: 2rem;
    }
    .label, .labels_list * {
        font-size: 3rem;
    }
}
@media (max-width: 768px)  {
    .flex_row {
        flex-direction: column;
    }
    .content, .content_list * {
        font-size: 3rem;
    }
    .label, .labels_list * {
        font-size: 4rem;
    }
}