.tech_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: var(--quickAnimationTime);
}

.tech_card {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--thirdPanelColor);
    border-radius: var(--borderRadius);
    padding: 1vw;
    transition: var(--quickAnimationTime);
    margin-left: 1vw;
    margin-right: 1vw;
}

.tech_card span {
    font-size: 0;
    padding: 0.5vw;
    transition: var(--quickAnimationTime);
    color: var(--secondPanelColor);
}

.tech_card:hover {
    background-color: var(--lightPrimaryColor);
}

.tech_card:hover span {
    font-size: 1vw;
    transition: var(--quickAnimationTime);
}

.tech_img {
    width: 5vw;
    height: 5vw;
}

.google_play_link {
    width: 15vw;
    height: auto;
}

blockquote {
    font-family: "Source Code Pro", monospace;
    background-color: var(--primaryTextColor);
    padding: 1vw;
    border-radius: var(--borderRadius);
}

a {
    text-decoration: underline;
}

.project_preview {
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
}

.project_icon_panel {
    grid-area: 1 / 1 / span 3 / span 1;
}

.project_icon {
    width: 10vw;
    height: 10vw;
}

.source_card {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primaryTextColor);
    border-radius: 3vw;
    padding: 1vw;
    margin: 0.5vw;
    transition: var(--quickAnimationTime);
}

.source_img {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
}