:root {
    --slideWidth: 50vw;
}

@keyframes slidy {
    0% { left: 0%; }
    15% { left: 0%}
    20% { left: -100%; }
    35% { left: -100%; }
    40% { left: -200%; }
    55% { left: -200%; }
    60% { left: -300%; }
    75% { left: -300%; }
    80% { left: -400%; }
    95% { left: -400%; }
    100% { left: 0%; }
}

.slider_panel {
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

figure {
    margin: 0;
    background: #101010;
    font-weight: 100;
}

div#captioned-gallery {
    width: 50vw;
    overflow: hidden;
}

figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 30s slidy infinite;
}

figure.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;

}

figure.slider img {
    width: 50vw;
    height: 30vw;
    object-fit: cover;
}

figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 50vw;
    padding: 1vw;
}